In [26]:
import pandas as pd

In [27]:


df =  pd.read_excel('public_use-industry-employment-growth.xlsx',  sheet_name="Growth from Industry Transition")

In [28]:
# Remove unnecessary columns
df = df.drop(columns=['country_code','wb_region','wb_income',	'isic_section_index','isic_section_name','industry_id'])

In [29]:
print(df.dtypes)

country_name         object
industry_name        object
growth_rate_2015    float64
growth_rate_2016    float64
growth_rate_2017    float64
growth_rate_2018    float64
growth_rate_2019    float64
dtype: object

In [30]:
df

,country_name,industry_name,growth_rate_2015,growth_rate_2016,growth_rate_2017,growth_rate_2018,growth_rate_2019
0,United Arab Emirates,Mining & Metals,0.078000,0.058550,0.043402,0.010048,-0.000621
1,United Arab Emirates,Oil & Energy,0.033015,0.013479,0.017459,0.018514,0.022606
2,United Arab Emirates,Pharmaceuticals,0.171367,0.136986,0.090631,0.048148,0.028423
3,United Arab Emirates,Food Production,0.063351,0.038647,0.022137,0.005990,0.004317
4,United Arab Emirates,Aviation & Aerospace,0.096607,0.056744,0.028673,0.015048,0.000816
...,...,...,...,...,...,...,...
7330,Zimbabwe,Entertainment,0.000000,-0.031250,0.032258,-0.041237,-0.010417
7331,Zimbabwe,Sports,0.000000,-0.017391,-0.008547,-0.025210,-0.025641
7332,Zimbabwe,Arts & Crafts,-0.030303,0.000000,0.000000,0.000000,0.000000
7333,Zimbabwe,Music,0.035088,-0.016667,0.017241,0.016949,0.034483
7334,Zimbabwe,"Health, Wellness & Fitness",-0.002268,0.009259,-0.006944,0.015982,0.006682

In [31]:
# Clean up
df['country_name'] = df['country_name'].str.strip().str.lower()
df['industry_name'] = df['industry_name'].str.strip().str.lower()

#chane & to and in industry name
df['industry_name'] = df['industry_name'].str.replace('&','and')

In [32]:
df = df.dropna()
# Remove duplicates
df = df.drop_duplicates()

In [33]:
df

,country_name,industry_name,growth_rate_2015,growth_rate_2016,growth_rate_2017,growth_rate_2018,growth_rate_2019
0,united arab emirates,mining & metals,0.078000,0.058550,0.043402,0.010048,-0.000621
1,united arab emirates,oil & energy,0.033015,0.013479,0.017459,0.018514,0.022606
2,united arab emirates,pharmaceuticals,0.171367,0.136986,0.090631,0.048148,0.028423
3,united arab emirates,food production,0.063351,0.038647,0.022137,0.005990,0.004317
4,united arab emirates,aviation & aerospace,0.096607,0.056744,0.028673,0.015048,0.000816
...,...,...,...,...,...,...,...
7330,zimbabwe,entertainment,0.000000,-0.031250,0.032258,-0.041237,-0.010417
7331,zimbabwe,sports,0.000000,-0.017391,-0.008547,-0.025210,-0.025641
7332,zimbabwe,arts & crafts,-0.030303,0.000000,0.000000,0.000000,0.000000
7333,zimbabwe,music,0.035088,-0.016667,0.017241,0.016949,0.034483
7334,zimbabwe,"health, wellness & fitness",-0.002268,0.009259,-0.006944,0.015982,0.006682

In [ ]:
df.isnull().sum()

country_name        0
industry_name       0
growth_rate_2015    0
growth_rate_2016    0
growth_rate_2017    0
growth_rate_2018    0
growth_rate_2019    0
dtype: int64

In [ ]:
df['country_name'].unique()

array(['United Arab Emirates', 'Afghanistan', 'Albania', 'Armenia',
       'Angola', 'Argentina', 'Austria', 'Australia', 'Azerbaijan',
       'Bosnia and Herzegovina', 'Bangladesh', 'Belgium', 'Bulgaria',
       'Bahrain', 'Benin', 'Bolivia', 'Brazil', 'Botswana', 'Belarus',
       'Canada', 'Congo, Dem. Rep.', 'Switzerland', "Cote d'Ivoire",
       'Chile', 'Cameroon', 'China', 'Colombia', 'Costa Rica', 'Cuba',
       'Cyprus', 'Czech Republic', 'Germany', 'Denmark',
       'Dominican Republic', 'Algeria', 'Ecuador', 'Estonia',
       'Egypt, Arab Rep.', 'Spain', 'Ethiopia', 'Finland', 'France',
       'United Kingdom', 'Georgia', 'Ghana', 'Greece', 'Guatemala',
       'Hong Kong SAR, China', 'Honduras', 'Croatia', 'Hungary',
       'Indonesia', 'Ireland', 'Israel', 'India', 'Iraq',
       'Iran, Islamic Rep.', 'Italy', 'Jamaica', 'Jordan', 'Japan',
       'Kenya', 'Cambodia', 'Korea, Rep.', 'Kuwait', 'Kazakhstan',
       'Lebanon', 'Sri Lanka', 'Lithuania', 'Luxembourg', 'Latvia',
       'Libya', 'Morocco', 'Moldova', 'Madagascar', 'Macedonia, FYR',
       'Myanmar', 'Malta', 'Mauritius', 'Mexico', 'Malaysia',
       'Mozambique', 'Namibia', 'Nigeria', 'Nicaragua', 'Netherlands',
       'Norway', 'Nepal', 'New Zealand', 'Oman', 'Panama', 'Peru',
       'Papua New Guinea', 'Philippines', 'Pakistan', 'Poland',
       'Puerto Rico', 'West Bank and Gaza', 'Portugal', 'Paraguay',
       'Qatar', 'Romania', 'Serbia', 'Saudi Arabia', 'Sudan', 'Sweden',
       'Singapore', 'Slovenia', 'Slovak Republic', 'Senegal',
       'El Salvador', 'Syrian Arab Republic', 'Thailand', 'Tunisia',
       'Turkey', 'Trinidad and Tobago', 'Taiwan, China', 'Tanzania',
       'Ukraine', 'Uganda', 'United States', 'Uruguay', 'Venezuela, RB',
       'Vietnam', 'Yemen, Rep.', 'South Africa', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [21]:
# Mean growth rate of each industry across all countries
industry_mean = df.groupby('industry_name').mean().reset_index()
display(industry_mean)

,industry_name,growth_rate_2015,growth_rate_2016,growth_rate_2017,growth_rate_2018,growth_rate_2019
0,accounting,-0.028221,-0.021475,-0.024219,-0.017950,-0.011880
1,alternative dispute resolution,0.017905,0.053347,0.029090,0.020349,0.002421
2,animation,0.011626,0.009321,0.020244,0.019514,0.022812
3,architecture and planning,-0.005966,-0.005180,-0.004679,-0.001928,-0.004527
4,arts and crafts,0.002553,0.002109,0.004561,0.001436,0.000640
...,...,...,...,...,...,...
72,translation and localization,-0.004447,-0.004029,0.001473,-0.012981,-0.006075
73,venture capital and private equity,0.033972,0.036594,0.041520,0.035127,0.031991
74,veterinary,-0.000924,0.004351,0.006931,0.007758,0.004506
75,wireless,-0.001895,0.010980,0.018550,-0.002181,0.006419
76,writing and editing,-0.002253,-0.000844,-0.005109,0.002997,0.003963

In [24]:
# Median growth rate of each industry across all countries
industry_median = df.groupby('industry_name').median().reset_index()
display(industry_median)

,industry_name,growth_rate_2015,growth_rate_2016,growth_rate_2017,growth_rate_2018,growth_rate_2019
0,accounting,-0.028302,-0.024851,-0.024194,-0.016000,-0.012987
1,alternative dispute resolution,0.011368,0.025294,0.030894,0.005583,0.000000
2,animation,0.000000,0.003205,0.010417,0.013652,0.019048
3,architecture and planning,-0.006211,-0.003984,-0.002971,-0.003110,-0.001805
4,arts and crafts,0.000000,0.001796,0.004456,0.000000,0.000000
...,...,...,...,...,...,...
72,translation and localization,-0.011029,-0.004505,0.005208,-0.018084,-0.007133
73,venture capital and private equity,0.025988,0.034900,0.048010,0.035501,0.034562
74,veterinary,0.001678,0.000809,0.007879,0.004587,0.004409
75,wireless,-0.006847,0.008968,0.013657,-0.001110,0.002480
76,writing and editing,-0.000431,0.000000,-0.004784,0.002904,0.004792

In [25]:

# Total growth rate of each industry across all countries
industry_total = df.groupby('industry_name').sum().reset_index()
display(industry_total)

,industry_name,growth_rate_2015,growth_rate_2016,growth_rate_2017,growth_rate_2018,growth_rate_2019
0,accounting,-3.584023,-2.727307,-3.075836,-2.279645,-1.508803
1,alternative dispute resolution,0.322287,0.960253,0.523624,0.366284,0.043576
2,animation,0.755660,0.605840,1.315873,1.268396,1.482769
3,architecture and planning,-0.721861,-0.626742,-0.566181,-0.233268,-0.547716
4,arts and crafts,0.186387,0.153951,0.332988,0.104832,0.046753
...,...,...,...,...,...,...
72,translation and localization,-0.369139,-0.334442,0.122292,-1.077399,-0.504201
73,venture capital and private equity,2.242170,2.415196,2.740299,2.318390,2.111435
74,veterinary,-0.054531,0.256737,0.408913,0.457718,0.265870
75,wireless,-0.109938,0.636812,1.075882,-0.126475,0.372279
76,writing and editing,-0.157744,-0.059076,-0.357655,0.209802,0.277379

In [ ]:
yearsint = [2015,2016,2017,2018,2019]
years= df[['growth_rate_2015','growth_rate_2016','growth_rate_2017','growth_rate_2018','growth_rate_2019']]
fact = pd.DataFrame()
for index, row in df.iterrows():
    for year, name in zip(yearsint, years.columns):
      temp = row
      temp["year"]= year
      temp["growth"]= years.iloc[index][name]
      
      fact = fact.append(temp, ignore_index=True)

In [ ]:
fact

,country_name,industry_name,growth_rate_2015,growth_rate_2016,growth_rate_2017,growth_rate_2018,growth_rate_2019,year,growth
0,united arab emirates,mining and metals,0.078000,0.058550,0.043402,0.010048,-0.000621,2015,0.078000
1,united arab emirates,mining and metals,0.078000,0.058550,0.043402,0.010048,-0.000621,2016,0.058550
2,united arab emirates,mining and metals,0.078000,0.058550,0.043402,0.010048,-0.000621,2017,0.043402
3,united arab emirates,mining and metals,0.078000,0.058550,0.043402,0.010048,-0.000621,2018,0.010048
4,united arab emirates,mining and metals,0.078000,0.058550,0.043402,0.010048,-0.000621,2019,-0.000621
...,...,...,...,...,...,...,...,...,...
36670,zimbabwe,"health, wellness and fitness",-0.002268,0.009259,-0.006944,0.015982,0.006682,2015,-0.002268
36671,zimbabwe,"health, wellness and fitness",-0.002268,0.009259,-0.006944,0.015982,0.006682,2016,0.009259
36672,zimbabwe,"health, wellness and fitness",-0.002268,0.009259,-0.006944,0.015982,0.006682,2017,-0.006944
36673,zimbabwe,"health, wellness and fitness",-0.002268,0.009259,-0.006944,0.015982,0.006682,2018,0.015982
36674,zimbabwe,"health, wellness and fitness",-0.002268,0.009259,-0.006944,0.015982,0.006682,2019,0.006682

In [ ]:
fact= fact.drop(columns= ['growth_rate_2015','growth_rate_2016','growth_rate_2017','growth_rate_2018','growth_rate_2019'])

In [ ]:
fact['surrogate keys'] = range(1,len(fact)+1)

In [34]:
fact

,country_name,industry_name,year,growth,surrogate keys
0,united arab emirates,mining and metals,2015,0.078000,1
1,united arab emirates,mining and metals,2016,0.058550,2
2,united arab emirates,mining and metals,2017,0.043402,3
3,united arab emirates,mining and metals,2018,0.010048,4
4,united arab emirates,mining and metals,2019,-0.000621,5
...,...,...,...,...,...
36670,zimbabwe,"health, wellness and fitness",2015,-0.002268,36671
36671,zimbabwe,"health, wellness and fitness",2016,0.009259,36672
36672,zimbabwe,"health, wellness and fitness",2017,-0.006944,36673
36673,zimbabwe,"health, wellness and fitness",2018,0.015982,36674
36674,zimbabwe,"health, wellness and fitness",2019,0.006682,36675

In [35]:
fact.to_csv("fact.csv")